*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
body{
    background-color: #FFFF;
}
.container{
    width: 940px;
    margin: 0 auto;
}
img{
    width: 100%;
}
header{
    background-image: url(../img/IMAGE\ \(27\).png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover; 
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_ul{
    display: flex;
    align-items: center;
    margin-bottom:50px;
    margin-top: 20px;
}
.nav_li{
    margin: 0 20px;
}
.nav_a{
    color:#FFFFFF;
    font-size: 12px;
    line-height: 20px;
    transition: 1s;
}
.nav_h1{
    color: #FFFFFF;
    font-size: 26px;
    line-height: 26px;
    margin-bottom:50px;
    margin-top: 20px;
}
.nav_a:hover{
    color: rgb(210, 126, 126);
}
.escape_box3{
    text-align: center;
}
.nav_h2{
    color: #FFFFFF;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
}
.nav_p{
    color: #FFFFFFA1;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin-top: 30px;
}
.header_a{
    color: #FFFFFF;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}
.nav_button{
    background-color: #DD783F;
    width: 167px;
    height: 44px;
    margin-top: 30px;
    border-radius: 3px;
    border: 1px solid #DD783F;
    margin-bottom: 50px;
}
main{
    background-color: #FFFFFF;
}
.main_ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_li{
    margin: 0 25px;
}
.main_a{
    color: #768088;
    font-size: 14px;
    line-height: 20px;
    transition: 1s;
    margin: 20px 0;
}
.main_a:hover{
    color: rgb(213, 142, 142);
}
.section1{
    background-color: #F7F7F7;
}
.photo1{
    width: 460px;
    height: 280px;
    background-image: url(../img/IMAGE\ \(28\).png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.photo2{
    width: 460px;
    height: 280px;
    background-image: url(../img/IMAGE\ \(29\).png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.section1_a{
    color: #2E2E2E;
    transition: 1s;
}
.section1_a:hover{
    color: rgb(194, 153, 153);
}
.link{
    border-bottom: 1px solid#8e8787;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 30px;
}
.section1_photo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.photo1{
    margin-right: 20px;
}
.road_img1{
    width: 30px;
    height: 30px;
}
.road_img2{
    width: 30px;
    height: 30px;
}









@media(max-width: 960px){
    .container{
        width: 840px;

    }

}
@media(max-width: 860px){
    .container{
        width: 740px;
    }

}
@media(max-width: 760px){
    .container{
        width: 640px;
    }

}
@media(max-width: 660px){
    .container{
        width: 540px;
    }

}
@media(max-width: 560px){
    .container{
        width: 440px;
        
    }
    .nav_ul{
        display: none;
    }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav_h2{
        font-size: 30px;
        line-height: 40px;
    }
    .main_ul{
        display: flex;
        flex-wrap: wrap;
    }

}
@media(max-width: 460px){
    .container{
        width: 340px;
    }
    .nav_h2{
        font-size: 24px;
        line-height: 29px;
    }

}
@media(max-width: 360px){
    .container{
        width: 240px;
    }

}